<!DOCTYPE html>
<html>
  <head>
    <title>ClassScheduler</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <script src="//widget.cloudinary.com/global/all.js" type="text/javascript">  
    </script>

		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "layouts/header" %>
    <%= content_tag(:div, flash[:notice], {id: "notice", class: "alert alert-info"}) if flash[:notice] %>
    <%= content_tag(:div, flash[:alert], {id: "notice", class: "alert alert-warning"}) if flash[:alert] %>
    <%= content_tag(:div, flash[:error], {id: "notice", class: "alert alert-danger"}, c) if flash[:error] %>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
